@model IPagedList<PS_TUP.Models.GestionFiscalia.DenunciaDesdeFiscalia>

@{
    ViewBag.Title = "Denuncias Abiertas";
}

@using PagedList.Mvc;
@using PagedList;

<br /><br />
<h2 class="text-center">DENUNCIAS ABIERTAS</h2>

<head>
    <link rel="stylesheet" href="~/Content/Empresas.css" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
</head>
<br />
<div class="container-fluid col-6">
    <div class="row align-items-center ">
        <div class="">
            @using (Html.BeginForm("ResultadoBusquedaDenunciasAbiertas", "Fiscalia", FormMethod.Post))
            {
                <form class="text-center" id="buscar" name="buscar" role="search">
                    <div class="form-group">
                        @Html.TextBox("DNI", null, new { @class = "", @id = "DNI", @onkeypress = "", @placeholder = "DNI", @name = "DNI", @maxlength = "25" })
                    </div>

                    <div class="wrapper">
                        <input type="submit" class="" value="Buscar" />
                    </div>

                </form>
            }
        </div>
    </div>
</div>



<div class="row justify-content-center">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>

                    <th class="align-middle">
                        <label>ID DENUNCIA</label>
                    </th>

                    <th class="align-middle">
                        <label>MOTIVO DENUNCIA</label>
                    </th>

                    <th class="align-middle">
                        <label>FECHA DENUNCIA</label>
                    </th>

                    <th class="align-middle">
                        <label>DNI DENUNCIANTE</label>
                    </th>

                    <th class="align-middle">
                        <label>NOMBRE DENUNCIANTE</label>
                    </th>

                    <th class="align-middle">
                        <label>ESTADO</label>
                    </th>

                    <th class="align-middle"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td class="align-middle ">
                            @Html.DisplayFor(modelItem => item.IdDenuncia)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.IdTipoDenuncia)
                        </td>

                        <td class="align-middle ">
                            @item.Fecha.ToString("dd/MM/yyyy")
                        </td>

                        <td class="align-middle ">
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.activa)
                        </td>

                        <td class="align-middle ">
                            <a href=" @Url.Action("DetalleDenunciaVistaFiscalia", "Fiscalia", new { @id = item.IdDenuncia })" class=" btn btn-lg text-dark edit-button "><i class="far fa-eye"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            @Html.PagedListPager(Model, i => Url.Action("DenunciasAbiertas", "Fiscalia", new { i, search = Request.QueryString["search"] }))
        </div>

        <p class="text-center">
            @Html.ActionLink("< Inicio", "VerDatos", "Cuenta")
        </p>
        <p class="text-center">
            @Html.ActionLink("Ir a Denuncias Cerradas >", "DenunciasCerradas", "Fiscalia")
        </p>
    </div>
</div>

